.gallery__cards {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  gap: 20px 17px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

@media screen and (max-width: 879px) {
  .gallery__cards {
    justify-content: center;
  }
}
