.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  border: 0px;
}

.profile__avatar::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

.profile__avatar::after {
  content: '';
  position: absolute;
  top: 47px;
  left: 47px;
  width: 26px;
  height: 26px;
  background-image: url(../../../images/edit-pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  visibility: hidden;
  cursor: pointer;
}

.profile__avatar:hover::before {
  background-color: rgba(0, 0, 0, .8);
  visibility: visible;
}

.profile__avatar:hover::after {
  visibility: visible;
}
