.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: description;
}

@media screen and (max-width: 500px) {
  .profile__description {
    font-size: 14px;
    text-align: center;
    margin:0 auto;
  }
}
