.popup__close-button {
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  align-self: flex-end;
}

.popup__close-button:hover, .popup__close-button:focus {
  opacity: .6;
  outline: none;
}

@media screen and (max-width:600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
  }
}
