.profile__info {
  max-width: 500px;
  display: grid;
  grid-template-areas:
    'profile__username profile__edit-button'
    'profile__description profile__description';
  gap: 16px 18px;
  align-items: center;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .profile__info {
    max-width: 282px;
    gap: 14px 10px;
  }
}
