.footer__author {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .footer__author {
    font-size: 14px;
  }
}
