.popup {
  width: 100%;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  display: flex;
  transition: opacity 1s;
}
